<!-- 2 on declare les selecteurs, et on utilise le ng -->
<h1> Angular 4.2.4 (componente ||| ng)</h1>

<!-- Selecteur app-'x' si existe iras charger le contenue -->
<app-todo-retest *ngIf="selectedPage ==='todoRetest'"></app-todo-retest>
<app-boucle *ngIf="selectedPage ==='boucle'"></app-boucle>
<app-template *ngIf="selectedPage ==='template'"></app-template>
<app-todolist *ngIf="selectedPage ==='toto'"></app-todolist>



<!-- Affiche un select option qui iras vérifié le contenus existant de todoRetest  -->
<select [(ngModel)]="selectedPage">
    <option value="boucle">Boucle</option>
    <option value="template">Template</option>
    <option value="toto">todolist</option>
    <option value="todoRetest">todoRetest</option>

</select>


<!-- Selecteur du boucle.component.ts -->
<!-- <app-boucle></app-boucle> -->
<!--Affiche les selector que l'on a crée (component)-->
<!-- <app-template></app-template> -->